:root {
    --primary-bg: #23B5D3;
    --secondary-bg: #EA526F;
    --primary-text: #F7F7FF;
    --secondary: #070600;
    --highlight: #279AF1;
    --page-margin: 5rem;
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url(fonts/playfair-display-normal-400\ 900.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monteserrat";
    src: url(fonts/montserrat-normal-100\ 900.woff2);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Monteserrat", sans-serif;
    background: var(--primary-bg);
    color: var(--primary-text);
    margin: 0;
}

a:link {
    color: var(--secondary-bg);
}

a:visited {
    color:var(--secondary)
}

a:hover, a:focus {
    font-size: 1.5rem;
}

p {
    font-size: 1.4em;
    line-height: 1.4;
}

h2 {
    font-size: 3em;
    font-weight: 550;
    border-bottom: 3px solid var(--secondary-bg);
}

nav {
    background: var(--secondary);
    box-shadow: 0px 0px 2px 2px var(--secondary-bg);
    border-radius: 30px;
    margin-top: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: var(--primary-bg);
    font-size: 1.8rem;
    padding: 1rem 2rem;
    display: inline-block;
}

nav ul li a:hover {
    font-size: 1.9rem;
    background: var(--highlight);
}

nav ul li a:visited {
    color:var(--secondary-bg);
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--highlight);
    border-radius: 9px;
}

#portrait img:hover {
    transform: scale(1.1);
}

header {
    text-align: center;
    padding: 1rem 0;
    margin: 0 var(--page-margin);
}

#hero h1 {
    font-family: "PlayfairDisplay", sans-serif;
    font-weight: 750;
    font-size: 4em;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: -1px;
}

main {
    margin: 0 var(--page-margin);
}

#projects article h3 {
    font-size: 1.4em;
}

.copyright {
    font-size: 1.1rem;
    padding-left: var(--page-margin);
}