:root {
    --primary-bg: #23B5D3;
    --secondary-bg: #EA526F;
    --primary-text: #F7F7FF;
    --secondary: #070600;
    --highlight: #279AF1;
    --page-margin: 5rem;
}

body {
    font-family: Helvetica, sans-serif;
    background: var(--primary-bg);
    color: var(--primary-text);
    margin: 0;
}

p {
    font-size: 1.4em;
    line-height: 1.4;
}

h2 {
    font-size: 3em;
    font-weight: normal;
    border-bottom: 3px solid var(--secondary-bg);
}

nav {
    background: var(--secondary);
    border-radius: 30px;
    margin-top: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: var(--primary-bg);
    font-size: 1.8rem;
    padding: 1rem 2rem;
    display: inline-block;
}

nav ul li a:hover {
    background: var(--secondary-bg);
}

#portrait img:hover {
    transform: scale(1.1);
}

header {
    text-align: center;
    padding: 1rem 0;
    margin: 0 var(--page-margin);
}

#hero h1 {
    font-size: 4em;
    text-align: center;
    line-height: 1.3em;
    letter-spacing: -3px;
}

main {
    margin: 0 var(--page-margin);
}

#projects article h3 {
    font-size: 1.4em;
}

